# ==========================
# Visual Studio / IDE files
# ==========================
.vs/
*.ipch

# ==========================
# Build folders
# ==========================
Debug/
Release/
x64/
x86/

# ==========================
# Executables / output files
# ==========================
*.exe
*.out

# ==========================
# Logs / temporary files
# ==========================
*.log
*.obj
*.pdb

# ==========================
# Other system files
# ==========================
Thumbs.db
.DS_Store
